<h2><%= @post.title %></h2>
<h4>by <%=  link_to  @post.blogger.name, blogger_path(@post.blogger.id) %> </h4>
<h4><%= @post.destination.name %></h4>
<br>
<p>Likes <%= @post.likes %>
    <%= link_to smash_path(@post.id),method: :patch do %>
    <%= image_tag("heart.png",class:"like-icon") %>
</p>
<% end %>
<p class="post-content"><%= @content %></p>


<br>